<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shxt.mapper.ClazzMapper">
    <!-- 基础映射只是映射表中的字段 -->
    <resultMap type="com.shxt.model.Clazz" id="BaseResultMap">
        <id property="class_id" column="class_id" />
        <result property="class_name" column="class_name"/>
    </resultMap>
    
    <select id="load" parameterType="int" resultMap="BaseResultMap">
        select class_id,class_name from class where class_id=#{id}
    </select>
    
   
</mapper>